* {
  margin: 0;
  padding: 0;
}
.background{
  background: url('../../Images/background.jpg') no-repeat ;
  background-size: cover;
}
.images {
  width: 30vw;
}

@media only screen and (max-width: 600px) {
  .images {
    width: 47vw;
  }
}
